body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}
.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    width: 80%;
    margin: 30px auto;
}
.card {
    padding: 25px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.card h2 {
    color: navy;
}
.card p {
    color: #555;
}