body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1::before {
    content: "★ ";
    color: orange;
}
h1::after {
    content: " ✔";
    color: green;
}